body{

background:#00ffff;
font-family:Comic Sans MS;
text-align:center;

}

h1{

background:yellow;
color:purple;
padding:20px;
font-size:40px;

}

.menu{

margin:20px;

}

button{

background:red;
color:white;
padding:15px;
margin:10px;
border:4px solid black;
font-size:16px;
cursor:pointer;
transition:0.3s;

}

button:hover{

background:lime;
color:black;
transform:rotate(3deg) scale(1.1);

}

.section{

display:none;
margin-top:40px;
background:pink;
padding:20px;
border:5px dashed black;
width:50%;
margin-left:auto;
margin-right:auto;

}

select{

padding:10px;
font-size:16px;

}
